* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(248,249,250);
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(229,231,235);
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    height: 100px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}



.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user {
    display: flex;
}

.bt-tema {
    width: 40px;
    height: 40px;
    border: none;
}

.bt-tema img {
    width: 20px;
}

.menu-user {
    border: none;
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user img {
    width: 20px;
}

.contaiter {
    display: flex;
}

.painelbaixo {
    display: none;
}

.painelesquerdo {
    background-color: rgb(255,255,255);
    border-right: 1px solid rgb(229,231,235);
    width: 280px;
    min-width: 280px;
}

.botaoPainel {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
    width: 90%;
    height: 5vh;
    border: 1px solid rgb(229,231,235);
    border-radius: 15px;
    margin: 5%;
}

#btn-inicio {
    background-color: #238b50;
    color: white;
}

.botaoPainel img {
    width: 30px;
    height: 30px;
}

.paineldireito {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248,249,250);
    gap: 2%; 
    width: 90vw;
    margin-top: 30px;
    padding: 5px;

    /* gambiarra painel esquerdo encostar  na parte inferior */
    height: 110vh;
}

.conjunto1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 65vw;
}

#q1 {
    background-color: rgba(237, 243, 242);
    border: solid rgba(192, 218, 205) 1px;
    border-radius: 15px;
    height: 110%;
    padding: 16px;
}

#q1 p{
    color: rgba(107, 114, 128);
}

#q2 {
    background-color: rgba(255, 255, 255);
    border: solid rgba(229, 231, 235) 1px;
    border-radius: 15px;
    height: 100%;
}

.q20 img {
    width: 50px;
    height: 50px;
    background-color: rgb(230,242,235);
    border-radius: 10px;
    padding: 10px;
}

.q20 {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.q20 h1 {
    font-size: 20px;
    font-weight: 600;
}

.conjunto3 {
    min-width: 65vw;
    min-height: 20vh;
}

.conjunto2 {
    display: flex;
    gap: 10px; 
    width: 65vw;
    justify-content: center;
}

#q3 {
    background-color: rgba(255, 255, 255);
    border: solid rgb(235, 229, 229) 1px;
    border-radius: 15px;
    width: 50%;
    min-height: 43vh;
}

#dia-semana {
    color: rgb(119, 122, 128);
    margin-left: 20px;
}

.q30 img {
    width: 45px;
    height: 45px;
    background-color: rgb(230,242,235);
    border-radius: 10px;
    padding: 10px;
}

.q30 {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.q30 h1 {
    font-size: 20px;
    font-weight: 600;
}

.q3030 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}


.q3030 img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

.q3031 {
    background-color: rgba(243, 250, 244);
    display: flex;
    align-items: center;
    border-radius: 20px;
    height: 80px;
    gap: 10px;
}

.q3031 img{
    width: 70px;
    height: 70px;
    padding: 5px;
}

#q4 {
    background-color: rgba(230, 240, 235);
    border: solid rgba(191, 218, 204) 1px;
    border-radius: 15px;
    width: 50%;
    min-height: 42vh;
}

.q40 {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.q40 img {
    width: 50px;
    height: 50px;
    background-color: rgb(183,214,198);
    border-radius: 8px;
}

.q40 h1 {
    font-size: 20px;
}

.q40 p {
    font-size: 15px;
    color: rgb(107,114,128);
}

#q5 {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255); 
    border: solid rgba(229, 231, 235) 1px;
    border-radius: 15px;
    height: 40vh;
    padding: 30px;
    gap: 20px;
}

#pratosDestaq {
    font-size: 20px;
}

#conjuntoImagensQ5 {
    display: flex;
    justify-content: center;
    gap: 2%;
    padding: 2%;
}

#conjuntoImagensQ5 img {
    width: 15vw;
    height: 20vh;
    border-radius: 10px;
}

@media (max-width: 700px) {
    .contaiter {
        flex-direction: column;
    }

    .painelesquerdo {
        display: none;
    }

    .paineldireito {
        width: 100vw;
        height: 160vh;
    }

    .conjunto1, .conjunto2, .conjunto3 {
        width: 90vw;
    }

    .conjunto2 {
        flex-direction: column;
    }

    #q3, #q4 {
        width: 100%;
    }

    #q3 {
        height: 55vh;
    }


    .painelbaixo {
        display: flex;
        border-top: solid 2px rgb(242, 243, 245);
        padding: 5px;
        gap: 5px;
        flex-wrap: nowrap;
    }

    .botaoPainel {
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 10px;
        height: 8vh;
        border-radius: 30px;
        margin: 0%;
    }

    .botaoPainel img {
        width: 30px;
        height: 30px;
    }
}